/* body{
    justify-content: center;

} */
.headline{
   text-align: center;
}
.profilePicture{
    height: 100px;
    width: auto;
}
.container{
    padding:25px;
    /* display: flex; */
    /* justify-content: space-evenly; */
}
.card{
    display:flex;
}
button{
    margin-top: 15px;
}